* {
  box-sizing: border-box !important;
}

:root {
  --backgroundColor: 34, 34, 34;
  --foregroundColor: 255, 255, 255;
  --primaryColor: 97, 205, 255;
  --fontSize: 16px;
  --layoutMaxWidth: 64rem;
}

body.light {
  --backgroundColor: 245, 245, 245;
  --foregroundColor: 34, 34, 34;
}

@media (max-width: 1440px) {
  :root {
    --fontSize: 14px;
  }
}

html {
  font-size: var(--fontSize);
  font-family: Inter, sans-serif;
}
