---
import { Icon } from "astro-icon";

interface Props {
  id: string;
  href: string;
}

const { id, href } = Astro.props;
---

<div class="showcase-asset" {id}>
  <slot />
  <div class="showcase-asset__actions">
    <a {href} aria-label="Presentation Mode">
      <Icon class="control" pack="mdi" name="fullscreen" />
    </a>
  </div>
</div>

<style>
  .showcase-asset {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: -3px -3px 15px 1px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #ffffff26;
    border-left: 1px solid #ffffff01;
    margin: 4px 0 16px;
    overflow: hidden;
  }
  .showcase-asset:hover .showcase-asset__actions {
    opacity: 0.9;
  }
  .showcase-asset__actions {
    position: absolute;
    display: flex;
    gap: 5px;
    width: 2.25rem;
    height: 2.25rem;
    margin: 1.25rem auto 0 1.25rem;
    top: 0;
    padding: 0.25rem;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.2s linear;
    background: #ffffff90;
    box-shadow:
      0 0.5px 2px #40404480,
      0 4px 8px #00000080;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 8px;
    cursor: pointer;
  }
  .showcase-asset__actions .control {
    opacity: 1;
    color: #111;
    width: 1.75rem;
  }
</style>
