---
import "../styles/main.css";
import ReloadPrompt from "../components/ReloadPrompt.astro";
import Header from "../components/Header.astro";
import Metadata from "../components/Metadata.astro";
import type { Props as MetadataProps } from "../components/Metadata.astro";
import ProjectFooter from "../components/ProjectFooter.astro";

interface Props extends MetadataProps {
  route?: string;
}

const { route, ...metadata } = Astro.props;
---

<style>
  body {
    margin: 0;
    width: 100%;
    background: #222222;
    position: relative;
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{metadata.title}</title>
    <link rel="stylesheet" href="/styles/project.css" />
    <Metadata {...metadata} />
  </head>
  <body>
    <slot name="background" />
    <Header activeRoute={route} />
    <slot name="main" />
    <ProjectFooter />
    <ReloadPrompt />
  </body>
</html>
